.hidden{
    display: none;
}

/* Tool bar/button groups */
#roolbar.row {
    margin-left: 0;
    margin-right: 0;
}

#toolbar > div {
    margin-bottom: 1em;
    text-align: left;
    padding: 0;
}

#toolbar.row {
    margin-left: 0;
    margin-right: 0;
}

#toolbar .col-md-4.col-sm-6.order-md-3 {
    text-align: right;
}

#status-filters.text-center {
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#status-filters .badge {
    flex: 1;
    margin-right: 1em;
}

@media (max-width: 700px) {
    #status-filters .badge {
        width: 25%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

#status-filters .badge:last-of-type {
    margin-right: 0;
}

.btn-group > label{
    margin: 0;
}

/* Movie list items */
.card{
    cursor: pointer;
}

.card-body{
    padding: 0.25em;
}

.card-body span.score,
.card-body span.year{
    font-size: 0.8em;
    opacity: 0.6;
}

span.score > i {
    width: 0.75em;
}

ul#movie_list li {
    width: calc(20% - 15px);
    margin: 0 15px 15px 0;
    text-align: center;
}

@media (max-width: 820px) {
    ul#movie_list li {
        width: calc(25% - 15px);
    }
}

@media (max-width: 560px) {
    ul#movie_list li {
        width: calc(50% - 15px);
    }
}

ul#movie_list {
    max-width: 975px;
    transform: translate(7.5px);
}

.card-img-top {
    max-height: 100%;
}

/* List style layout */
ul#movie_list.list > li{
    flex-basis: 28em;
}

ul#movie_list.list > li div.card{
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5em;
}

ul#movie_list.list > li img{
    box-shadow: none;
    float: left;
    width: 3.5em;
    border-radius: .25rem;
    margin-right: 0.5em;
}

ul#movie_list.list > li h6{
    font-size: 1.125em;
    line-height: 1.4em;
}

ul#movie_list.list > li span.badge{
    position: absolute;
    bottom: 0.75em;
    left: 5.5em;
}

ul#movie_list.list > li span.score{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

/*
ul#movie_list.list li img{
    height: 4.95em;
    box-shadow: none;
    margin: 0 0.5em 0 0;
    float: left;
    max-width: 3.5em;
    border-radius: 0;
}

ul#movie_list.list li div.card-body{
    padding: 0;
    margin: 0;
}

ul#movie_list.list h6{
    padding: 0;
    margin: 0;
} */


/* Compact style layout */
ul#movie_list.compact > li{
    flex-basis: 28em;
    margin-bottom: 0.25em;
}

ul#movie_list.compact li:not(:last-child) div.card{
    border-bottom: 0px;
}

ul#movie_list.compact li div.card-body{
    height: 2em;
}

ul#movie_list.compact li img{
    display: none;
}

ul#movie_list.compact li span.badge.status{
    margin: .25em 1em .25em .25em;
    float: right;
}

ul#movie_list.compact li h6.card-title{
    max-width: calc(100% - 5.5em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    display: inline-block;
    margin-left: 0.5em;
}

ul#movie_list.compact li span.score{
    display: none;
}

div#hidden_count{
    text-align: center;
}

/* Status Modal */

div#modal_details span.year{
    opacity: 0.6;
    font-size: 0.75em;
}

div.modal-badges{
    padding: 0.5em 1em;
}

div.modal-badges > .badge{
    font-size: 0.8em;
    height: 1.75em;
    line-height: 1.25em;
    margin-bottom: .25rem;
    font-weight: normal;
}

div.modal-badges > .badge i.mdi{
    vertical-align: unset;
}

img.poster{
    margin-bottom: 1em;
    max-height: 18em;
}

div.modal-body p.plot{
    text-indent: 1.5em;
}

i#switch_settings{
    transition: 0.25s;
}

div#settings_basic,
div#settings_advanced{
    transition: 0.75s;
    opacity: 1.0;
    max-height: 13.5em;
    overflow-y: hidden;
}

div#settings_basic > div,
div#settings_advanced > div{
    margin-bottom: 1em;
}

div#settings_basic.hide,
div#settings_advanced.hide{
    opacity: 0.0;
    max-height: 0em;
}

div#settings_advanced span.input-group-text{
    font-size: 0.8em;
}

/* Search Results table */
ul#search_results_table{
    overflow-y: scroll;
    max-height: 18em;
    transition: .6s;
    padding: 0;
    margin: 0;
}

ul#search_results_table li:nth-of-type(odd){
    background-color:rgba(0,0,0,.05)
}

ul#search_results_table li.rejected{
    display: none;
}

.loader {
  position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/loader_mobile.gif') 50% 50% no-repeat;/* rgb(123,123,123); */
    opacity: .5;
}

#status-filters .badge {
    padding: .4em;
    font-size: 100%;
    font-weight: normal;
}
