ul.nav.nav-pills{
    justify-content: space-evenly;
}

ul#movies{
    margin: 0;
    max-height: 0%;
    overflow: hidden;
    transition: 0.6s;
    padding-bottom: 4em;
}

ul#movies li{
    width: 10em;
    margin: 1em 0.5em;
    text-align: center;
}

.card-body{
    padding: 0.5em 0.25em;
}

.card-body span.score,
.card-body span.year{
    font-size: 0.8em;
    opacity: 0.6;
}

.card .add-movie-form{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1;
}

button.show_details{
    padding: 0;
}

div.movie span.title{
    font-weight: 500;
}

div.movie span.year{
    opacity: 0.6;
}

/* details modal */
div.modal-badges{
    padding: 0.5em 1em;
}

div.modal-badges > .badge{
    font-size: 0.8em;
    height: 1.75em;
    line-height: 1.25em;
    margin-bottom: .25rem;
    font-weight: normal;
}

div.modal-badges > .badge i.mdi{
    vertical-align: unset;
}

img.poster{
    margin-bottom: 1em;
    max-height: 18em;
}

preload-icon {
    display: none;
}
	
preload-icon.loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
	
preload-icon > .mdi {
    font-size: 3em;
    width: initial;
}
	
iframe#trailer.unavailable {
    background: url("../images/trailer_unavailable.png") no-repeat 50% 50%;
}

div.modal-body p.plot{
    text-indent: 1.5em;
    margin-top: 1em;
}
