<%def name="render_indexer(indexer)">
    <tr>
        <td>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="mdi mdi-checkbox-blank-outline c_box" id="enabled" value="${indexer[2]}"></i>
                    </span>
                </div>
                <input type="text" data-id="url" class="form-control" placeholder="http://www.indexer.com/" value="${indexer[0]}">
                <input type="text" data-id="api" class="form-control" placeholder="123456789abcdef" value="${indexer[1]}">
            </div>
            %if len(indexer) > 3:
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="mdi mdi-checkbox-blank-outline c_box" id="no_year" value="${indexer[3]}"></i>
                    </span>
                </div>
                <span class="input-group-item form-control">
                    Search without year
                </span>
            </div>
            %endif
        </td>
        <td>
            <button class="btn btn-outline-success" title="Test Indexer Connection" onclick="test_indexer(event, this)">
                <i class="mdi mdi-lan-pending"></i>
            </button>

            <button class="btn btn-outline-danger" onclick="remove_indexer(event, this)">
                <i class="mdi mdi-delete"></i>
            </button>
        </td>
    </tr>
</%def>


<!DOCTYPE HTML5>
<html>
    <head>
        ${head}

        <link href="${url_base}/static/css/settings/shared.css?v=010" rel="stylesheet">
        <link href="${url_base}/static/css/settings/indexers.css?v=010" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/indexers.js?v=014" type="text/javascript"></script>

    </head>
    <body>
        ${navbar}
        <div class="container">

            <h1>${_('NewzNab Indexers')}</h1>
            <form class="form-group row bg-light rounded mx-auto">
                <table class="table">
                    <thead class="thead-light">
                        <th class="indexer_input_header">
                            <span>
                                ${_('URL')}
                            </span>
                            <span>
                                ${_('API Key')}
                            </span>
                        </th>
                        <th></th>
                    </thead>
                    <tbody data-category="newznab">
                        %for indexer in config['NewzNab'].values():
                        ${render_indexer(indexer)}
                        %endfor
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <button class="btn btn-outline-primary" onclick="add_indexer(event, 'newznab')">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </form>

            <h1>${_('TorzNab Indexers')}</h1>
            <form class="form-group row bg-light rounded mx-auto">
                <table class="table">
                    <thead class="thead-light">
                        <th class="indexer_input_header">
                            <span>
                                ${_('URL')}
                            </span>
                            <span>
                                ${_('API Key')}
                            </span>
                        </th>
                        <th></th>
                    </thead>
                    <tbody data-category="torznab">
                        %for indexer in config['TorzNab'].values():
                        ${render_indexer(indexer)}
                        %endfor
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <button class="btn btn-outline-primary" onclick="add_indexer(event, 'torznab')">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </form>

            <h1>${_('Torrent Indexers')}</h1>
            <form class="form-group row bg-light rounded mx-auto py-3" data-category="torrent">
                <div class="col-md-6">
                    <label>1337x</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="1337x-enabled" value="${config['Torrent']['1337x']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="1337x-url" class="form-control" value="${config['Torrent']['1337x']['url']}">
                </div>
                <div class="col-md-6">
                    <label>LimeTorrents</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="limetorrents-enabled" value="${config['Torrent']['limetorrents']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="limetorrents-url" class="form-control" value="${config['Torrent']['limetorrents']['url']}">
                </div>
                <div class="col-md-6">
                    <label>Rarbg</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="rarbg-enabled" value="${config['Torrent']['rarbg']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="rarbg-url" class="form-control" value="${config['Torrent']['rarbg']['url']}">
                </div>
                <div class="col-md-6">
                    <label>ThePirateBay</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="thepiratebay-enabled" value="${config['Torrent']['thepiratebay']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="thepiratebay-url" class="form-control" value="${config['Torrent']['thepiratebay']['url']}">
                </div>
                <div class="col-md-6">
                    <label>TorrentDownloads</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="torrentdownloads-enabled" value="${config['Torrent']['torrentdownloads']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="torrentdownloads-url" class="form-control" value="${config['Torrent']['torrentdownloads']['url']}">
                </div>
                <div class="col-md-6">
                    <label>TorrentGalaxy</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="torrentgalaxy-enabled" value="${config['Torrent']['torrentgalaxy']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="torrentgalaxy-url" class="form-control" value="${config['Torrent']['torrentgalaxy']['url']}">
                </div>
                <div class="col-md-6">
                    <label>Torrentz2</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="torrentz2-enabled" value="${config['Torrent']['torrentz2']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="torrentz2-url" class="form-control" value="${config['Torrent']['torrentz2']['url']}">
                </div>
                <div class="col-md-6">
                    <label>YTS</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="yts-enabled" value="${config['Torrent']['yts']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="yts-url" class="form-control" value="${config['Torrent']['yts']['url']}">
                </div>
                <div class="col-md-6">
                    <label>Zooqle (${_('backlog only')})</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="zooqle-enabled" value="${config['Torrent']['zooqle']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Enabled')}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('URL')}</label>
                    <input type="text" id="zooqle-url" class="form-control" value="${config['Torrent']['zooqle']['url']}">
                </div>
            </form>

            <h1>Private Torrent Indexers</h1>
            <form class="mx-auto" data-category="privtorrent">
                <div class="row bg-light rounded mx-auto py-3" data-id="danishbits">
                    <div class="input-group col-md-6 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" data-id="enabled" title="Enabled" value="${config['PrivateTorrent']['danishbits']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            DanishBits
                        </span>
                    </div>
                    <div class="input-group col-md-6 col-sm-12">
                        <input class="form-control" type="text" data-id="username" placeholder="Username" value="${config['PrivateTorrent']['danishbits']['username']}"/>
                        <input class="form-control" type="text" data-id="passkey" placeholder="Passkey" value="${config['PrivateTorrent']['danishbits']['passkey']}"/>
                    </div>
                </div>
            </form>

            <button id="save_settings" class="btn btn-success float-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>

            </button>
        </div>

        <template id="new_newznab">
            ${render_indexer(['', '', 'False'])}
        </template>
        <template id="new_torznab">
            ${render_indexer(['', '', 'False', 'False'])}
        </template>
    </body>
</html>
